<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="CommentMapper">
	
	<!-- resultType, parametertype만 사용 -->
	
	<select id="selectComment" resultType="Comment" parameterType="hashmap">
		select 
			comment_no			AS commentNo
			, user_id			AS userId
			, comment_content	AS commentContent
			, reg_date 			AS regDate
		from comment_tab
		<where>
			<if test="commentNo !=null">
				comment_no = #{commentNo}
			</if>
			<if test="user_id != null">
				user_id = #{user_id}
			</if>
			<if test="comment_content !=null">
				comment_content LIKE '%${comment_content}%'
			</if>
		</where>
	</select>
	
	<!-- 
		
		[jdbc]
			select * from emp where enmae='홍길동'
			
		- statement
			변수 = "홍길동" 
			select * from emp where ename='+변수+'
			
		- preparedstatement 
			select * from emp where ename=?
			ps.setString(1,변수)
			
		[mybatis]	
			#{변수명} : preparedStatement
			${변수명} : statement
			
	 -->
	
	<insert id='insertComment' parameterType='Comment'>
		INSERT INTO comment_tab
		VALUES (#{commentNo}, #{userId}, #{commentContent} , sysdate)
	</insert>
	
	<delete id="deleteComment" parameterType="long">
		DELETE FROM comment_tab
		WHERE comment_no = #{commentNo}
	</delete>
	
	<update id="updateComment" parameterType="Comment">
		UPDATE comment_tab
		SET 
		 	user_id = #{userId}, 
    		comment_content = #{commentContent}
		WHERE comment_no = #{commentNo}
	</update>
	
	
	
</mapper>